html {
	font-size: 100%;
}

/*These are the styles for the nav bar*/

#menuwrapper {
	position: absolute;
	background-color: #001C2F;
	opacity:0.9;
	filter:alpha(opacity=90); /* For IE8 and earlier */
	height: 57px;
	padding-top: .5%;
	width: 100%;
	top: 0;
	left: 0;
	margin-right: auto;
}

#menu_button {
	position: absolute;
	visibility: hidden;
	color: #F15A24 !important;
}

#menu {
	width: 1050px;
	margin-left: auto;
	margin-right: auto;
}

#menuwrapper ul {
	list-style-type: none;
	margin-top: -3%;
}

#menuwrapper li {
	display: inline;
	font-size: .90em;
	padding-left: 3%;
	font-family: 'Merriweather Sans', sans-serif;
	color: #FFFFFF;
	font-weight: 300;
	opacity:1.0 !important;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}

/*These are the styles for the searchbar/header portion*/

#blueeconlogo {
	position: absolute;
	padding-left: 10px;
	padding-top: 10px;
	height: 60px;
}

.hover_text {
	visibility:hidden;
	position: absolute;
}

#link:hover > .hover_text{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: .85em;
	visibility:visible;
	text-align: center;
	width: 125px;
	top: 160px;
	left: 220px;
	background-color: #000000;
	padding: .75%;
	color: #FFFFFF;
	word-wrap:normal;
}

#clear_text {
	position: absolute;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: .85em;
	text-align: center;
	width: 125px;
	top: 183px;
	left: 77%;
	background-color: #000000;
	padding: .75%;
	color: #FFFFFF;
	word-wrap:normal;
}

.clear_button_hover_text {
	visibility: hidden;
}

.clear_button_show {
	visibility: visible !important;
}

#searchbar {
	margin-top: 80px;
	width: 1050px;
	height: 195px;
	background-color: #001C2F;
	opacity:0.9;
	filter:alpha(opacity=90); /* For IE8 and earlier */
	margin-left: auto;
	margin-right: auto;
}

#searchbar h1 {
	text-align: center;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 300;
	color: #1E9ED6;
	padding-top: 1%;
}

#searchbar h2 {
	text-align: center;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 400;
	color: #F15A24;
}

#searchbar h2 input {
	width: 40%;
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: .75em;
}

#searchbar h3 {
	text-align: center;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 300;
	color: #FFFFFF;
}

#clearbutton {
	position: relative;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 400;
	color: #F15A24;
/*	margin-left: -18px;*/
	opacity: 0.8;
}

.makeinvisible {
	visibility: hidden;
}

.makevisible {
	visibility: visible !important;
}

#educationcheckbox {
	margin-left: auto;
	margin-right: auto;
	margin-top: -1%;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #FFFFFF;
	width: 960px;
	padding-left: 5%;
}

#educationcheckbox input {
	margin-left: 2%;
}

#FAQbutton {
	width: 200px;
	height: 30px;
	padding-top: 5px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 300;
	color: #001C2F;
	background-color: #F15A24;
	text-align: center;
	vertical-align: middle;
}

#FAQbutton a:hover {
	text-decoration: none;
	color:#FFFFFF;
}

/* These are the styles for the search results/lower section */

#searchresults {
	width: 1050px;
	padding-left: 1%;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}

.activearrow {
	margin-left: 13.65%;
	position: absolute;
	z-index: 2;
	visibility: hidden;
}

.labeltab {
	float: left;
	height: 32px;
	width: 40%;
	background-color: #FFFFFF;
	opacity:0.75;
	filter:alpha(opacity=75); /* For IE8 and earlier */
	border-top-right-radius:1em;
	border-top-left-radius:1em;
	z-index: 10;
}

.labeltab p {
	margin-top: 5px;
	text-align: center;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 300;
	color: #1E9ED6;
	font-size: 1.25em;
}

.resultwrapper {
	float: left;
	width: 334px;
	padding-right: 1.5%
}

.resultsbox {
	float: right;
	width: 94%;
	height: 63.58%;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 3%;
	background-color: #FFFFFF;
	opacity:0.75;
	filter:alpha(opacity=75); /* For IE8 and earlier */
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #333333;
	overflow: scroll;
	word-wrap: normal;

}

.makeblue {
	background-color: #001C2F !important;
	opacity: 0.9 !important;
}

.descriptor {
	opacity: 1 !important;
	font-weight: 900 !important;
}

.makegrey {
	color: #333333 !important;
}

.makewhite {
	color: #ffffff !important;
}

.makeorange {
	color: #F15A24 !important;
}

.selectable_result {
	color: #333333 !important;
}

.selectable_result:hover {
	background-color: #F15A24 !important;
	color: #FFFFFF !important;
	opacity: 1 !important;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}

/* These are the styles for all of the links */

a:link {
	text-decoration: none;
	color:#FFFFFF;
}

a:visited {
	text-decoration: none;
	color:#FFFFFF;
}

a:hover {
	text-decoration: none;
	color:#1E9ED6;
	font-weight: 300;
}

a:active {
	text-decoration: none;
	color:#F15A24;
	font-weight: 300;
}

.active a:link  {
	color: #F15A24;
	text-decoration: none;
	font-weight: 400;
}

.active a:visited {
	color: #F15A24;
	text-decoration: none;
	font-weight: 400;
}

/* These are the styles specifically for the on the expert response page */

/* Menu bar styles */

#expert_menuwrapper {
	position: absolute;
	background-color: #001C2F;
	opacity:0.9;
	filter:alpha(opacity=90); /* For IE8 and earlier */
	height: 57px;
	padding-top: .5%;
	padding-left: auto;
	padding-right: auto;
	width: 100%;
	top: 0;
	left: 65px;
	margin: 0 auto;
	z-index: -1;
}

#sidebar {
	position: absolute;
	background-color: #001C2F;
	opacity:0.9;
	filter:alpha(opacity=90); /* For IE8 and earlier */
	height: 100%;
	padding-left: 8px;
	width: 57px;
	top: 0;
	left: 0;
	margin-bottom: auto;
}

#sidebar_menu img {
	margin-top: 5px;
}

#sidebar_menu {
	height: auto;
}

/* Inbox Styles */

#inbox {
	float: left;
	width: 400px;
	margin-left: 57px;
	margin-top: 24px;
	z-index: 2;
}

#inboxmessages {
	height: 94.7%;
}

#inboxtab {
	opacity:1;
}

/* Preview Box Styles */

#preview {
	margin-top: 24px;
	float: left;
	width: 60%;
	margin-left: 3%;
}

#previewtab {
	width: 175px;
	z-index: 2;
	background-color: #666666;
}

#previewtab p {
	color: #FFFFFF;
}

#previewbackground {
	background-color: rgba(102,102,102,0.75);;
	opacity: 1;
	height: 70%;
	z-index: 2;
	float: left;
	width: 100%;
	padding-left: 1.5% !important;
	padding-right: 1.5% !important;
}

/* Information Box */

#informationtab {
	background-color: #F15A24;
	width: 175px;
	opacity:1;
	z-index: 3;
}

#informationtab p {
	color: #FFFFFF;
}

#informationbox {
	background-color: #F15A24;
	opacity: 1.0 !important;
	height: 75%;
}

#informationwrapper{
	margin-top: 10px;
	float: left;
	width: 50%;
	height: 35%;
}

/* Inquiry Box */

#inquirytab {
	background-color: #3FA9F5;
	width: 175px;
	opacity: 1.0 !important;
	z-index: 3;
}

#inquirytab p {
	color: #FFFFFF;
}

#inquirybox {
	background-color: #3FA9F5;
	opacity: 1.0 !important;
	height: 75%;
}

#inquirywrapper{
	margin-top: 10px;
	float: left;
	width: 50%;
	height: 35%;
}

.messagebox {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 1.1em;
	color: #1A1A1A;
}

/* Tabbed Responses */

#tabbedresponses {
	clear: both;
	background-color: #FFFFFF;
	opacity: 1 !important;
	width: 100%;
	height: 44%;
	margin-top: -30%;
}

/* Buttons */

#buttonsmenu {
	margin-top: 2%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.responsebutton {
	background-color: #001C2F;
	color: #FFFFFF;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 300;
	float: left;
	width: 23%;
	border: none;
	font-size: 1.25em;
	margin-right: 2%;
	padding-top: 27px;
	padding-bottom: 27px;
}

.responsebutton:hover {
	color: #F15A24;
}

#badquestion {
	margin-right: 0 !important;
	width: 25% !important;
	padding-top: 27px !important;
	padding-bottom: 27px !important;
}

/* Bottom User Info Box */

#userinfo {
	margin-top: 1%;
	float: left;
	width: 101%;
	margin-left: .25%;
	height: 20%;
	background-color: rgba(102,102,102,0.75);;
	padding: 1%;
}

#nameandposition {
	float: left;
	height: 100%;
}

#username {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 1.45em;
	color: #1A1A1A;
}

#usertitle {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 1.1em;
	color: #FFFFFF;
}

#expertresponse {
	float: left;
	color: #FFFFFF;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 300;
	font-size: 1.20em;
	width: 40%;
	margin-left: 13%;
}

.expertdescript {
	float: left;
	margin-top: 15px;
}

.expertbutton {
	float: left;
	background-color: #3FA9F5;
	margin-left: 3%;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15%;
	padding-right: 15%;
}

#topblock {
	margin-top: 0px !important;
	padding-top: 0px !important;
	margin-bottom: 15px;
}

.responseblock {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

#bottomblock {
	margin-top: 90px !important;
}

#contactadmin {
	float: right;
	margin-right: 0;
	padding-top: 40px;
	padding-bottom: 40px;
}

/* Media Queries for Responsive Site */

@media only screen and (min-width:1260px) {
	#searchresults {
		width: 1260px !important;
		padding-left: none !important;
	}

	.resultwrapper {
		width: 400px !important;
	}
}

@media only screen and (min-width:1060px) and (max-width:1259px) {
	#searchresults {
		width: 1050px !important;
		padding-left: 1% !important;
	}

	.resultwrapper {
		width: 334px !important;
	}

	#menu {
		width: 1050px;
		padding-left: 5.5% !important;
	}
}

@media only screen and (min-width:811px) and (max-width:1059px) {
	#blueeconlogo {
		width: 95px;
		height: auto;
	}

	#searchbar {
		width: 800px;
		height: 175px;
		margin-top: 75px;
	}

	#searchbar h1 {
		font-size: 1.75em;
	}

	#searchbar h2 {
		font-size: 1.5em;
	}

	#searchbar h3 {
		font-size: 1em;
	}

	#educationcheckbox {
		font-size: .75em;
	}

	#searchresults {
		width: 800px !important;
		padding-left: 2% !important;
	}

	.resultwrapper {
		width: 253px !important;
	}

	.labeltab {
		width: 50% !important;
		height: 28px !important;
	}

	.labeltab p {
		font-size: 1.15em !important;
	}

	#homeimage {
		width: 45px; 
		height: auto;
	}

	#menu {
		width: 800px !important;
		padding-left: 0 !important;
		white-space: nowrap;
	}

	#menuwrapper {
		height: 50px;
	}

	#menuwrapper li {
		padding-left: 2%;
		font-size: .75em;
	}

	.selectable_result {
		font-size: .9em;
	}

	#box3 .resultsbox {
		font-size: .9em;
	}
}

@media only screen and (max-width: 810px) {
	#searchbar {
		width: 320px;
		height: 400px;
		z-index: 1;
		position: relative;
	}

	#searchbar h1 {
		font-size: 1.9em;
	}

	#searchbar h2 {
		font-size: 1.25em;
	}

	#searchbar h3 {
		font-size: 1em !important;
	}
	#searchBox {
		width: 275px !important;
		margin-left: auto;
		margin-right: auto;
	}

	#searchresults {
		width: 320px !important;
	}

	.resultwrapper {
		float: left !important;
		width: 100% !important;
		margin-bottom: 15px;
	}

	.resultsbox {
		height: 40% !important;
	}

	#blueeconlogo {
		position: relative;
		display: block;
		margin-left: auto !important;
		margin-right: auto !important;
		width: 95px;
		height: auto;
		z-index: 1;
	}

	#educationcheckbox {
		font-size: .9em;
		width: 265px;
		margin-left: auto;
		margin-right: auto;
	}

	.education_input {
		float: left;
		white-space: nowrap;
		padding-bottom: 10px;
	}

	#menu {
		width: 320px;
	}

	#menu_button {
		top: 0;
		text-align: right;
		float: right;
		visibility: visible !important;
		position: relative !important;
		z-index: 0;
	}

	#menu_button:hover {
		color: #001C2F !important;
	}

	#menuwrapper ul {
		width: 230px;
		background-color: #001C2F;
		z-index: 999 !important;
		height: auto;
		float: right;
		padding-right: 15px;
		visibility: hidden;
		margin-top: -30px;
		position: relative;
	}

	#menuwrapper li {
		display: block !important;
		z-index: 11 !important;
		width: 220px !important;
		padding-left: 0 !important;
		margin-left: 0 !important;
		padding-bottom: 20px;
		white-space: nowrap;
	}

	#clear_text {
		left: 65%;
		top: 280px;
	}

	#link:hover > .hover_text {
		left: 35%;
	}
}