<div id="menuwrapper" class="blue">
	<div id="menu" class="whitetext">
		<a href="../index.html"><img id="homeimage" src="../media/images/homeicon.png"></a>
			<ul>
				<li class="orange"><a href="business-selection.html">I want small business advice</a></li>
				<li><a href="jobs-selection.html">I want to learn some job skills</a></li>
				<li><a href="business-faq.html">I want to ask a question</a></li>
				<li><a href="">Resources</a></li>
				<li><a href="">Upcoming Events</a></li>
			</ul>
	</div>
</div>
<script src="../js/header-search.js" type="text/javascript"></script>