<div id="searchresults">

	<div id="box1" class="resultwrapper">
		<div class="labeltab bluetext white">
			<p>Industry</p>
		</div>
		<img src="../media/images/activearrow.png" class="activearrow" id="arrow1">
		<div class="resultsbox">
			<!--Results populate here-->
		</div>
	</div>

	<div id="box2" class="resultwrapper">
		<div class="labeltab bluetext">
			<p>Jobs</p>
		</div>
		<img src="../media/images/activearrow.png" class="activearrow" id="arrow2">
		<div class="resultsbox" id="jobslist">
			<!--Results populate here-->
		</div>
	</div>

	<div id="box3" class="resultwrapper bluetext">
		<div class="labeltab">
			<p>Job Detail</p>
		</div>
		<img src="../media/images/activearrow.png" class="activearrow" id="arrow3">
		<div class="resultsbox selectable_result">
			<!--Results populate here-->
		</div>
	</div>
	<script src="../js/guided_tour.js" type="text/javascript"></script>
</div>