<div id="searchbar" class="blue">
	<a id="link" href="http://blueecon.com/"><img id="blueeconlogo" src="../media/images/blueecon_logo.png"><span class="hover_text">A description of Blue Economics will go here</span></a>
	<h1 class="bluetext">Find New Jobs Here</h1>
	<form>
		<h2 class="orangetext">What Job Are You Looking For: <input type="text" name="mySearch" id="searchBox" placeholder="type what you are looking for here"><span id="clearbutton" alt="Click here to clear search bar">X</span></h2><span id="clear_text" class="raleway">Click here to clear search bar</span>
	</form>
	<h3 class="whitetext">What best describes your education level: </h3>
	<form id="educationcheckbox" class="raleway">
		<span class="education_input"><input type="checkbox" name="education[]" value="1,2,8">0 or less than 1 year of education</span>
		<span class="education_input"><input type="checkbox" name="education[]" value="3,4">associates degree</span>
		<span class="education_input"><input type="checkbox" name="education[]" value="5">bachelors degree</span>
		<span class="education_input"><input type="checkbox" name="education[]" value="6,7">advanced/graduate degree</span>
	</form>
</div>