<html>
<head>
<title>Ascend NYC - Find New Jobs Here</title>
<link rel="stylesheet" type="text/css" href="../css/style.css">
<style>
html { 
  background: url(../media/images/businessbackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
<link href='http://fonts.googleapis.com/css?family=Merriweather+Sans|Raleway' rel='stylesheet' type='text/css'>
</head>

<body>
<!-- This is the nav bar -->
<div id="nav-bar"></div>

<!--This is the search bar/header portion-->
	<div id="searchbar">
		<a id="link" href="http://blueecon.com/"><img id="blueeconlogo" src="../media/images/blueecon_logo.png"><span class="hover_text">A description of Blue Economics will go here</span></a>
		<h1>Get Small Business Advice Here</h1>
		<form>
			<h2>Is there specific information you need: <input type="text" name="search" placeholder="type what you are looking for here"></h2>
		</form>
			<div id="FAQbutton"><a href="business-faq.html">I want to ask a question</a></div>
	</div>

<!--This is the search results section-->
	<div id="searchresults">

		<div id="box1" class="resultwrapper">
			<div class="labeltab">
				<p>Category</p>
			</div>
			<img src="../media/images/activearrow.png" class="activearrow" id="arrow1">
			<div class="resultsbox">
				<!--Results populate here-->
			</div>
		</div>

		<div id="box2" class="resultwrapper">
			<div class="labeltab">
				<p>Topics</p>
			</div>
			<img src="../media/images/activearrow.png" class="activearrow" id="arrow2">
			<div class="resultsbox">
				<!--Results populate here-->
			</div>
		</div>

		<div id="box3" class="resultwrapper">
			<div class="labeltab">
				<p>Articles</p>
			</div>
			<img src="../media/images/activearrow.png" class="activearrow" id="arrow3">
			<div class="resultsbox">
				<!--Results populate here-->
			</div>
		</div>

	</div>

</body>
</html>